$primary : #5046e5;
$background-white : #ffffff;
$background-light : #f1f5f9;
$background-dark : #0f182a;
$text-dark : #1e2a3b;
$text-light : #64748b;
$text-white : #ffffff;
$text-input : rgba($color: $text-light, $alpha: 0.7);